<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EnterpriseServiceBinding">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="ApplicationManagementServiceBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AMSMercuryG2BBinding" />
        <!--<binding name="ApplicationManagementServiceBinding1" />-->
      </basicHttpBinding>
    </bindings>
    <client>
   <!--   <endpoint address="https://api2.vetrf.ru:8002/platform/services/2.0/EnterpriseService"
          binding="basicHttpBinding" bindingConfiguration="EnterpriseServiceBinding"
          contract="EnterpriseService.EnterpriseServicePortType" name="EnterpriseServiceBindingQSPort" />
      <endpoint address="https://api2.vetrf.ru:8002/platform/services/2.0/ApplicationManagementService"
          binding="basicHttpBinding" bindingConfiguration="ApplicationManagementServiceBinding"
          contract="ApplicationManagementService.ApplicationManagementServicePortType"
          name="ApplicationManagementServiceBindingQSPort" />
          -->
    </client>
  </system.serviceModel>
</configuration>